@{
    ViewData["Title"] = "Success";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">
    <strong>Success!</strong> Employee added successfully.
</div>

<a asp-controller="Employee" asp-action="EmployeeList" class="btn btn-primary">See List Of Employees</a>